name: Laravel CI/CD

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]
  pull_request:
    branches: ["main"]

jobs:
  quality-control:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - run: find . \( -name vendor -o -name node_modules -o -name .git -o -name storage \) -prune -o -name "*.php" -print0 | xargs -0 -n1 php -l

#  unit-tests:
#    needs: quality-control
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - uses: shivammathur/setup-php@v2
#        with:
#          php-version: '8.2'
#          tools: composer:v2
#          coverage: none
#      - run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
#      - run: php artisan key:generate
#      - run: php artisan test
